.App {
  display: flex;
}

.leftRect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  vertical-align: left;
  background-color: rgb(233, 211, 182);
  opacity: 50%;
  width: 300px;
  height: 100vh;
  margin: 0px;
  text-align: center;
}

.blackColor{
  display: flex;
  justify-content: right;
  background-color: black;
  width: 100vh;
  height: 100vh;
  margin: 0px;
  justify-content: space-between;
}

.redColor{
  display: flex;
  justify-content: right;
  background-color: red;
  width: 100vh;
  height: 100vh;
  margin: 0px;
}

.blueColor{
  display: flex;
  justify-content: right;
  background-color: blue;
  width: 100vh;
  height: 100vh;
  margin: 0px;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
  width: 275px;
  height: 50px;
  outline: 2px solid;
  outline-color: rgb(233, 211, 182); 
}
