.App {
  background: rgb(221, 230, 235);
  height: 100vh;
  width: 100vw;
}


/*Sidebar styling*/

.navbar {
  width: 100vw;
  background-color: rgb(205, 225, 235);
  height: 80px;
  display:flex;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu{
  background-color: rgb(205, 225, 235);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover{
  background-color: rgb(193, 212, 221);;
}

.nav-menu-items{
  width: 100%;
}

.navbar-toggle{
  background-color: rgb(205, 225, 235);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: auto;
}

span{
  margin-left: 16px;
}

/*Home page styling*/

.Toppict{
  width: 100%;
}

.Toppict img{
  width: 100%;
  height: 450px;
}

.imgcontainer {
  align-items: center;
  align-content: center;
  height: 250px;
  width: 300px;
  background-color: white;
  margin: auto;
}

.Homepage h1{
  text-align: center;
  padding-top: 10px;
  font-family: 'Bradley Hand', cursive;
  font-size: 30pt;
}

.profileimg {
  text-align: center;
  padding-top: 10px;

}

.contentcontainer {
  text-align: center;
  width: 97vw;
  height: 300px;
  background-color: white;
  margin: auto;
}

.contentcontainer h1{
  text-align: center;
  font-size: 50pt;
}

.contentcontainer p{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15pt;
  font-family: 'Optima', sans-serif;
}


/*Hobbies*/
.Hobbies{
  display: flex;
  background-color: rgb(220, 224, 228);
}

.Hobbies h3{
  font-family: 'Optima', sans-serif;
  font-size: 15pt;
}


.container1 {
  width: 400px;
  height: 400px;
  margin-left: 50px;
}
.container2 {
  width: 400px;
  height: 400px;
}
.container3 {
  width: 400px;
  height: 400px;
}
.container4 {
  width: 400px;
  height: 400px;
}
.container5 {
  width: 400px;
  height: 400px;
}


/*Contactme*/
.Container{
justify-content: center;
align-content: center;
align-items: center;
width: 100vw;
}

.Contactme{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90vw;
  margin: auto;
}

.Contactme text{
  padding-left: 10px; 
}